/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

/* Estilos específicos para a página de Login */
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-content {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* (estilos existentes) */

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.login-options p {
    margin: 0;
}

.login-options button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-options button:hover {
    background-color: #0056b3;
}

/* Media Queries para Responsividade */
@media screen and (max-width: 768px) {
    .login-content {
        max-width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 12px;
        padding: 8px;
    }

    button {
        padding: 8px 16px;
    }

    .login-options {
        flex-direction: column;
        margin-top: 10px;
    }

    .login-options button {
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 10px;
        padding: 6px;
    }

    button {
        padding: 6px 12px;
    }
}
