/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

/**** HEADER ****/
header, .nav-bar {
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

.menu p {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 40px;
}

.menu-list li {
    margin-right: 20px; 
}

.menu-link {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease; 
}

.menu-link:hover {
    color: #a8ccf0; 
    text-decoration: underline; 
}

.button-container button {
    background-color: #fff; 
    color: #007bff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.button-container button:hover {
    background-color: #007bff; 
    color: #fff; 
}

/**** MAIN ****/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

/**** POSTS ****/
.post-form {
    background-color: #4cb3a0;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 800px;
    width: 100%;
}

.post-form h1 {
    font-size: 36px;
    color: #1f5d5e;
    margin-bottom: 10px;
}

.post-form h2 {
    font-size: 24px;
    color: #1f5d5e;
    margin-bottom: 20px;
}

.post-form input[type="text"],
.post-form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.post-form button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.post-form button:hover {
    background-color: #0056b3;
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.posts-container h2 {
    color: #1f5d5e;
}

.post {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0.2, 0, 0.2);
}

/**** FOOTER ****/
footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/**** ESTILOS PARA OS BOTÕES E CONTÊINERES DE BOTÕES ****/
.button-container {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-container button {
    margin-left: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #0056b3;
}

/* Estilos para os Formulários de Edição */
.edit-form {
    color: #1f5d5e;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.edit-form input[type="text"],
.edit-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    transition: border-color 0.3s ease;
}

.edit-form input[type="text"]:focus,
.edit-form textarea:focus {
    border-color: #007bff;
}

/* Estilos para os Comentários e Botões de Comentários */
.comment {
    display:flexbox;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.comment p {
    margin: 0;
    word-wrap: break-word;
}

.comment .button-container {
    display: flex;
}

.comment-container button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-container button:hover {
    background-color: #0056b3;
}

.show-comments-link{
    color: gray;
    cursor: pointer;
}

.show-comments-link:hover{
    color:#0056b3;
    cursor: pointer;
}

.hide-comments {
    display: none;
    max-height: 50px;
    overflow: hidden;
}

/* Estilos para os Inputs e Botões de Comentários */
.comment-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.comment-input button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-input button:hover {
    background-color: #0056b3;
}

/* Dark Theme */
.dark-theme {
    background-color: #121212;
    color: #fff;
}

.dark-theme header, 
.dark-theme .nav-bar {
    background-color: #1f1f1f;
}

.dark-theme .menu-link {
    color: #fff;
}

.dark-theme .menu-link:hover{
    color: #a8ccf0; 
    text-decoration: underline; 
}

.dark-theme .button-container button {
    background-color: #fff;
    color: #1f1f1f;
}

.dark-theme .button-container button:hover{
    background-color: #3c3c3c;
    color: #fff;
}

.dark-theme .post-form {
    background-color: #164d4d;
}
.dark-theme .post-form h1,
.dark-theme .post-form h2{
    color: #fff;
}

.dark-theme .post-form button{
    background-color: #fff;
    color: #1f1f1f;
}

.dark-theme .post-form button:hover{
    background-color: #3c3c3c;
    color: #fff;
    transition: 0.5s;
}

.dark-theme .edit-form {
    background-color: #1f1f1f;
    color: #fff;
}

.dark-theme .post {
    background-color: #1f1f1f;
    border: 1px solid #3c3c3c;
}

.dark-theme footer {
    background-color: #1f1f1f;
}

.dark-theme .comment {
    background-color: #1f1f1f;
    border: 1px solid #3c3c3c;
    color: #fff;
}

.dark-theme .comment-input {
    background-color: #1f1f1f;
    border: 1px solid #3c3c3c;
    color: #fff;
}

/* Media Queries para Responsividade */
@media screen and (max-width: 768px) {
    .nav-bar {
        padding: 10px;
        justify-content: center;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu img {
        margin-right: 0;
    }

    .menu p {
        font-size: 14px;
    }

    .menu-list {
        margin-left: 0;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .menu-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .button-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .menu p {
        font-size: 12px;
    }

    .menu-list li {
        margin-bottom: 8px;
    }

    .button-container button {
        padding: 8px 16px;
    }
}

/* Estilos para o Header em modo escuro */
@media screen and (max-width: 768px) {
    .dark-theme .nav-bar {
        justify-content: space-between;
    }

    .dark-theme .menu img {
        margin-right: 10px;
    }

    .dark-theme .menu p {
        font-size: 16px;
    }

    .dark-theme .menu-list {
        margin-left: 40px;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .dark-theme .menu p {
        font-size: 14px;
    }

    .dark-theme .menu-list li {
        margin-bottom: 10px;
    }

    .dark-theme .button-container button {
        padding: 10px 20px;
    }
}

/* Estilos para os formulários em modo escuro */
@media screen and (max-width: 768px) {
    .dark-theme .post-form h1,
    .dark-theme .post-form h2 {
        font-size: 28px;
    }

    .dark-theme .post-form input[type="text"],
    .dark-theme .post-form textarea {
        font-size: 14px;
    }

    .dark-theme .post-form button {
        padding: 10px 16px;
    }
}

@media screen and (max-width: 480px) {
    .dark-theme .post-form h1,
    .dark-theme .post-form h2 {
        font-size: 24px;
    }

    .dark-theme .post-form input[type="text"],
    .dark-theme .post-form textarea {
        font-size: 12px;
        padding: 8px;
    }

    .dark-theme .post-form button {
        padding: 8px 14px;
    }
}

/* Estilos para os comentários em modo escuro */
@media screen and (max-width: 768px) {
    .dark-theme .comment p {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .dark-theme .comment p {
        font-size: 12px;
    }
}

/* Estilos para os inputs de comentários em modo escuro */
@media screen and (max-width: 768px) {
    .dark-theme .comment-input input[type="text"] {
        font-size: 14px;
        padding: 8px;
    }
    .dark-theme .comment-input button {
        padding: 10px 16px;
    }
}

@media screen and (max-width: 480px) {
    .dark-theme .comment-input input[type="text"] {
        font-size: 12px;
        padding: 6px;
    }
    .dark-theme .comment-input button {
        padding: 8px 14px;
    }
}
