body {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #4cb3a0;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-top: 20px;
}

#post-form h1 {
    font-size: 36px;
    color: #1f5d5e;
    margin-bottom: 10px;
}

#post-form h2 {
    font-size: 24px;
    color: #1f5d5e;
    margin-bottom: 20px;
}

/* Estilo para a imagem do logo */
img#logo {
    width: 140px;
    height: 140px; 
    object-fit: cover; 
    border-radius: 50%;
    display: block; 
    margin: 0 auto; 
}

h1, h2 {
    text-align: justify;
    margin-top: auto;
    margin-bottom: 20px;
    color: #1f5d5e;
}

.post {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.comment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    background-color: #f8f9fa;
}

/* Estilos para o formulário de edição */
.edit-form {
    display: none;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.edit-form input[type="text"],
.edit-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-form .save-button .cancel-button{
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para os botões e contêineres de botões */
.button-container {
    text-align: right;
    margin-bottom: 10px;
}

.button-container button {
    margin-left: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #0056b3;
}

input[type="text"], textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
/* Estilos para a entrada de comentário e botão de adicionar comentário */
.comment-input {
    width: calc(100% - 22px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-container button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-container button:hover {
    background-color: #0056b3;
}

.show-comments-link {
    color: gray;
    cursor: pointer;
}

.hide-comments {
    display: none; 
    max-height: 50px;
    overflow: hidden;
}

/* responsividade */
@media (max-width: 1200px) {
    input[type="text"],
    textarea,
    .comment-input {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    input[type="text"],
    textarea,
    .comment-input {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .post {
        padding: 10px;
        margin-top: 10px;
    }

    .button-container {
        text-align: center;
        margin-bottom: 10px;
        /*font-size: 14px;
        padding: 8px 16px;*/
    }

    .button-container button {
        margin: 0 5px;
    }

    input[type="text"],
    textarea,
    .comment-input {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    img#logo {
        width: 40px; 
        height: 40px; 
    }
}

/*****ALTERA O TEMA DO BLOG*/
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

body.dark-theme .post,
body.dark-theme .post h2 {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme #post-form h1,
.dark-theme #post-form h2 {
    color: #ffffff;
}

.dark-theme .container {
    background-color: #1f1f1f;
    border-color: #444;
    color: #ffffff;
}

.dark-theme #post-container {
    background-color: #333;
    border-color: #555;
}

.dark-theme .comment {
    background-color: #444;
    border-color: #666;
}

.dark-theme button {
    background-color: #444;
    color: #ffffff;
}

.dark-theme button:hover {
    background-color: #444;
}
body.dark-theme .edit-form {
    background-color: #1f1f1f;
    color: #ffffff;
    border-color: #444;
}

body.dark-theme .edit-form input[type="text"],
body.dark-theme .edit-form textarea {
    border-color: #444;
    color: #ffffff;
    background-color: #333;
}

body.dark-theme .edit-form .save-button,
body.dark-theme .edit-form .cancel-button {
    background-color: #444;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}